<!-- seccion products container -->
<div class="products-container">
    <article class="product" data-open="modal-showproduct">
        <a>
            <i class='bx bxs-heart'></i>
            <div class="contein-img">
                <img src="https://th.bing.com/th/id/OIP.Z8couH1GODI_3Ana6zXLBQHaE6?pid=ImgDet&rs=1" alt="">
            </div>
            <div class="data">
                <div class="initial-data">
                    <h3 class="name">Product name</h3>
                    <button class="add-cart"><i class='bx bx-plus'></i></button>
                </div>
                <div class="footer-data">
                    <p class="product-price">$0.00</p> 
                </div>
            </div>
        </a>
    </article>
</div>
<!-- End seccion products container -->
